mixin order()

  -
    const orderItems = [
      {
        img: {
        path: "content",
        name: "img-1",
        format: "jpg",
        width: 130,
        height: 160,
        alt: "Утепленная стеганная куртка женская Top Hills",
      },
        name: "Утепленная стеганная куртка женская Top Hills",
        art: "512-05",
        season: "Осень-зима",
        size: [
         {
            s: "XS",
            disabled: false,
            checked: false,
          },
          {
            s: "S",
            disabled: false,
            checked: false,
          },
          {
            s: "M",
            disabled: false,
            checked: true,
          },
          {
            s: "L",
            disabled: false,
            checked: false,
          },
          {
            s: "XL",
            disabled: false,
            checked: false,
          }
        ],
        input: "-jacket",
        color: [
          {
            colorItem: "color-1",
            checked: true,
          },
          {
            colorItem: "color-2",
            checked: false,
          },
          {
            colorItem: "color-3",
            checked: false,
          },
        ],
        price: "10 000 ₽",
        oldPrice: "12 000 ₽",
        priceValue: "2",
      },
      {
        img: {
        path: "content",
        name: "img-2",
        format: "jpg",
        width: 130,
        height: 160,
        alt: "Вязанная шапка Zolla",
      },
        name: "Вязанная шапка Zolla",
        art: "891-256",
        season: "Демисезон",
        size: [
         {
            s: "XS",
            disabled: false,
            checked: false,
          },
          {
            s: "S",
            disabled: false,
            checked: true,
          },
          {
            s: "M",
            disabled: false,
            checked: false,
          },
          {
            s: "L",
            disabled: true,
            checked: false,
          },
          {
            s: "XL",
            disabled: true,
            checked: false,
          }
        ],
        input: "-hat",
          color: [
          {
            colorItem: "color-1",
            checked: true,
          },
        ],
        price: "500 ₽",
        oldPrice: false,
        priceValue: "1",
      }
    ]
  .order
    .container
      .order__wrapper
        form(action="#" method="get")
          .order__left
            .order__header-wrap
              h1.order__header Оформление заказа
              p.order__acc Есть аккаунт?
                a.order__acc-link Войти

            .order__items
              p.order__items-header #[span 3] товара на сумму #[span 25 000] ₽
              .order__card-wrap
                .order__card-delete
                  p.order__card-delete-text Товар #[span.order__card-delete-name Наименование товара] был удален из корзины. #[span.order__card-delete-re Восстановить]
                  +btn-close(button).order__card-delete-btn
                ul.order__card-list
                  each item in orderItems
                    li.order__card
                      .order__card-item
                        .order__card-img
                          +img(item.img.path, item.img.name, item.img.format, item.img.width, item.img.height, item.img.alt)
                        .order__card-about
                          p.order__card-name= item.name
                          p.order__card-art Артикул #[span= item.art]
                          p.order__card-season Сезон #[span= item.season]
                          ul.order__card-sizes
                            each i in item.size
                              li.order__card-size-item
                                input(type="radio", id= i.s+item.input, value= item.input, name= item.input, disabled= i.disabled, checked= i.checked).visually-hidden
                                label(for= i.s+item.input)= i.s
                          ul.order__card-colors
                            each c in item.color
                              li.order__color-item
                                input(type="radio", id= c.colorItem+item.input, value= item.input, name= item.input + "-color", checked= c.checked).visually-hidden
                                label(for= c.colorItem+item.input)

                      .order__card-count-wrap
                        .order__card-price
                          if item.oldPrice
                            p.order__card-price-old= item.oldPrice
                            p.order__card-price-now= item.price
                          else
                            p.order__card-price-now= item.price
                        .order__card-count-btn
                          button(type="button", id="minus", aria-label="уменьшить")
                          .order__card-count-num
                            label(for="card-count-btn")
                            input(name="card-count-btn" type="number" id="col" value= item.priceValue min="0")
                          button(type="button", id="plus", aria-label="добавить")
                        .order__card-price-all
                          p.order__card-price-old-sum
                          p.order__card-price-now-sum 1000
                      +btn-close(button)
